entrypoint = "server.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["npm", "run dev"]
deploymentTarget = "autoscale"
ignorePorts = false

[[ports]]
localPort = 5000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Run"
mode = "parallel"
author = 37152634

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
